/.vs
/src/Kashilog/WebApi.Kashilog.csproj.user
/src/Kashilog/bin
/src/Kashilog/obj
/src/.vs
/src/Kashilog/appsettings.json
/src/Kashilog/appsettings.Development.json
/src/Management.Kashilog/obj
/src/Management.Kashilog/bin
/src/Management.Kashilog/appsettings.json
/src/Management.Kashilog/appsettings.Development.json
/src/Management.Kashilog/*.user
/src/WebApi.Kashilog/bin
/src/WebApi.Kashilog/obj
/src/Management.Kashilog/Management.Kashilog.csproj.user
/src/WebApi.Kashilog/appsettings.DevelopmentRemote.json
/src/WebApi.Kashilog/appsettings.json
/src/WebApi.Kashilog/appsettings.Production.json
/src/WebApi.Kashilog/appsettings.Staging.json
/src/WebApi.Kashilog/appsettings.Development.json
